# Configurações SMTP para envio de emails
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=gabrielrossattobueno@gmail.com
SMTP_PASS=plpv cnek zjec gceu

# Email remetente
EMAIL_FROM="Gabriel Rossatto Bueno <gabrielrossattobueno@gmail.com>"

# Configurações de busca
MAX_RESULTS_PER_KEYWORD=10
DELAY_BETWEEN_SENDS=2000

# Arquivo de armazenamento
EMAILS_FILE=emails.json
